/* Education Section Main Container */
.education-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 150px;
  color: #ffffff; /* White text */
  flex-wrap: wrap;
  text-align: left;
  gap: 40px;
  font-family: 'Times New Roman', Times, serif;
}



/* Education Content */
.education-content {
  width: 50%;
  text-align: center;
  max-width: 600px;
}

.education-content h1{
  color:white;
}


.bi{
  color:#ff914d;
}

/* Title Styling */
.education-title {
  font-size: 2.2rem;
  color: #ff914d;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Education Card */
.education-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.education-card:hover {
  transform: translateY(-5px);
}

/* Card Text */
.education-institute, .education-duration, .education-gpa {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.6;
}

/* Icon Styling */
.education-card i {
  margin-right: 10px;
  color:  #ff914d;
  font-size: 1.2rem;
}

/* Responsive Design */
@media (max-width: 992px) {
  .education-main-container {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }

  .education-content {
    width: 100%;
  }

  .education-image img {
    width: 300px;
  }

  .education-title {
    font-size: 1.8rem;
  }

  .education-card {
    padding: 15px;
  }
}
